[package]
name = "common"
version = "0.1.0"
edition = "2021"

[dependencies]
serde   = { version = "1", default-features = false, features = ["derive", "alloc"] }
bincode = { version = "=2.0.1", default-features = false, features = ["serde", "alloc"] }

